body {
    margin: 0;
    overflow-x: hidden;
    background: black;
}

/*Matrix effect */
.matrix-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.main {
    position: relative;
    z-index: 2;
    padding: 20px;
    margin-top: 20px;
}

.box1,
.box2,
.box3,
.box4 {
    width: 900px;
    max-width: 90%;
    border: 1px solid white;
    padding: 50px;
    color: white;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    margin: 20px auto;
    font-family: "Helvetica";
    padding-bottom: 10px;
}

.heading {
    font-family: "Helvetica";
    margin-bottom: 20px;
}

h1,
h3 {
    margin: 0;
}

body {
    overflow: hidden;
}


.box2,
.box3,
.box4 {
    width: 900px;
    max-width: 90%;
    height: 70px;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    margin: 20px auto;
    font-family: "Helvetica";
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px;
    position: relative;
    transition: height 0.5s ease, background-color 0.3s ease;
    overflow: hidden;
    width: 990px;
    height: 30px;
}


h3 {
    margin: 0;
    font-size: 1.5em;
    position: relative;
    z-index: 2;
}


.text {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 10px;
}

/*Animations Dingsbums */
.box2:hover,
.box3:hover,
.box4:hover {
    height: 120px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.0);
}

.box2:hover .text,
.box3:hover .text,
.box4:hover .text {
    opacity: 1;
    transform: translateY(0);
}

.text2 {
    color: white;
    text-decoration: none;
    font-family: "Helvetica";
}

/*Lässt den Punkt der Liste Verschwinden */
li::marker {
    content: "";
}

.matrix-effect {
    height: 2000;
}